@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  text-decoration: none;

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;

  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.card {
  /* @apply mb-5 bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500; */
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
