.container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    
    padding: 0 15px;

    height: 3.75rem;
    width: 100%;

    top: 0;

    /* border: 1px solid #000; */
    background-color: rgba(128, 130, 133, .9);
    
    

}

.container .logo .logo-img {
    height: inherit;
    align-items: center;
}