.container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    
    padding: 0 15px;

    height: 3.75rem;
    width: 100%;

    top: 0;

    /* border-bottom: 1px solid #fff; */
    background-color: rgba(0,0,0, .85);
    background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    box-shadow: 0 0 10px #fff;
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    
    z-index: 1000;

}

.container .logo .logo-img {
    height: inherit;
    align-items: center;
}