.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  height: 3.75rem;
  width: 100%;

  top: 0;

  backdrop-filter: blur(10px);

  box-shadow: 0 0 10px #fff;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;

  z-index: 1000;

  
}

#icon {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  left: 150px;
}

.menuNav {
  position: absolute;

  display: none;
  /* justify-content: center;
  align-items: center; */

  width: 60%;

  background-color: rgba(23, 44, 52, .9);
  /* background-color: rgba(123, 166, 183, .9); */
  border: 2px solid #fff;
  
  transition: ease-in 2s;

  animation-name: show;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-fill-mode: both;


}

@keyframes show {
  0% {
    transform: scale(.01);
  }

  100% {
    transform: scale(1);
  }
}

.menuNav.open {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 60vw;
  height: 60vh;

  top: 80px;
  right: 30px;

  border-radius: 20px;
  
  transition: 1s ease-in all;
}

.menuNav a {


  padding-bottom: 25px;

  color: #fff;
  font-size: 1.5rem;

  
}
