.dev {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 3.75rem;

  position: relative;

  /* z-index: 1000; */

  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 3.5rem;

    width: 100%;
    height: auto;

    p {
      color: #fff;
      font-size: 1.5rem;
      text-align: center;

      span:nth-child(1) {
        display: flex;

        /* color: red; */

        animation-name: showFirst;
        animation-duration: 1s;
      }
      span:nth-child(2) {
        display: flex;

        /* color: blue; */

        animation-name: showSecond;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        opacity: 0;
      }
      span:nth-child(3) {
        display: flex;

        animation-name: showThird;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;

        opacity: 0;
      }

      > {
        display: flex;

        animation-name: aumento;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        opacity: 0;
      }
    }

    @keyframes showFirst {
      0% {
        transform: translateX(-200px);
      }

      100% {
        transform: translateX(0);
      }
    }

    @keyframes showSecond {
      0% {
        transform: translateY(-100px);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes showThird {
      0% {
        transform: translateY(100px);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes aumento {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(2.4);
        opacity: 1;
      }
    }

    .me {
      border-radius: 50%;

      width: 200px;
      height: 200px;

      margin-top: 50px;

      animation: aparecer;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 3s;

      opacity: 0;
    }

    @keyframes aparecer {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .study {
    position: relative;

    /* @include subTitles; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 30px;
    padding: 15px 0;

    width: 100%;
    height: auto;

    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px 20px;

    h2 {
      padding-top: 15px;
      padding-bottom: 25px;

      color: #fff;

      text-decoration: underline;
    }

    .study__container {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 20px;

      height: auto;

      /* Estilos para imagen diplomas */
      .study--areas {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        width: 140px;
        height: 150px;

        margin-bottom: 20px;
        padding: 0 1px;

        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #baba;
        box-shadow: 5px 5px 1px #baba;

        p {
          font-size: 1.1rem;
          text-align: center;
        }

        /* .image-button {
          border: 2px solid #333;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          margin: 10px;
          z-index: 100;
          position: relative;
        } */

        .image-button {
          display: flex;
          justify-content: center;
          align-items: center;

          bottom: 0;

          width: 100px;
          height: 40px;

          text-decoration: none;

          background-color: rgb(25, 174, 226);
          border-radius: 20px;
          border: none;
          color: #fff;

          font-size: 1.1rem;
          font-weight: bolder;
        }

        .image-button--cerrar {
          /* opacity: 0; */
          
        }

        img {
          position: absolute;

          display: flex;
          align-items: center;
          justify-content: center;

          top: -400px;
          bottom: 0;
          left: 30px;

          width: 250px;
          height: 350px;

          border-radius: 20px;
          z-index: 100;
        }
      }
    }
  }
}
.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 1px solid #bababa;
  border-radius: 10px;

  margin: 0 auto 50px;
  padding: 30px 0;

  width: 95%;

  h3 {
    padding-bottom: 20px;
    color: #fff;
    text-decoration: underline;
  }

  .portfolio__empresas {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    .empresa {
      margin-right: 20px;

      img {
        padding: 10px;

        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px #bababa;
      }
    }
  }
}
