@import "./heredar.scss";

.dev {
  /* @import flex-center; */
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 3.75rem;

  position: relative;

  z-index: 1000;

  .description {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: .5rem;

    height: 10.375rem;

    width: 100%;

    p {
      color: #fff;
      font-size: 1.5rem;
      text-align: center;

      span:nth-child(1) {
        display: flex;        

        /* color: red; */

        animation-name: showFirst;
        animation-duration: 1s;

        
      }
      span:nth-child(2) {
        display: flex;

        /* color: blue; */

        animation-name: showSecond;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        
        opacity: 0;
      }
      span:nth-child(3) {
        display: flex;

        animation-name: showThird;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        
        opacity: 0;

        
      }

      > {
        display: flex;

        animation-name: aumento;
        animation-duration: 2s;
        animation-delay: 3s; 
        animation-fill-mode: forwards;
        
        opacity: 0;
      }
    }
    
    @keyframes showFirst {
      0% {
        
        
        transform: translateX(-200px);
      }
      
      100% {
        
        transform: translateX(0);
        
      }
    }

    @keyframes showSecond {
      0% {
        
        transform: translateY(-100px);
      }
      
      100% {        
        transform: translateY(0);
        opacity: 1;
        
      }
    }
    
    @keyframes showThird {
      0% {        
        transform: translateY(100px);
        
      }
      
      100% {        
        transform: translateY(0);
        opacity: 1;        
      }
    }

    @keyframes aumento {
      0% {
        
        transform: scale(1);
      }
      
      100% {        
        transform: scale(2.4);
        opacity: 1;    
      }
    }
  }


  .presentation {
    .me {
      border-radius: 50%;

      width: 200px;
      height: 200px;

      animation: aparecer;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 3s;

      opacity: 0;
    }

    @keyframes aparecer {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}
